/* General page styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

h1, h2 {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 16px;
    color: #555;
    margin-bottom: 8px;
}

select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    outline: none;
    transition: border-color 0.3s ease;
}

select:focus {
    border-color: #333;
}

#resultSection {
    margin-top: 20px;
}

.options-group {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.options-group li {
    margin-bottom: 10px;
    padding: 8px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#home {
    margin-left: 140px;
    margin-top: 20px;
    height: 40px;
    width: 200px;
    font-size: 1.3rem;
    background-color: #4CAF50;
    border: 1px solid black;
    color: white;
    border-radius: 5px;
    cursor: pointer;

}

#home:hover{
    background-color: #45a049;
    border: none;
}
